<div class="container mt-5">
    <div class="alert alert-danger text-center p-4 shadow">
        <h2 class="fw-bold">¡Error!</h2>
        <p class="mb-3">{{message}}</p>
        <a href="/AdministracionFolios" class="btn btn-primary">Regresar a la Página Principal</a>
    </div>
</div>