<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/Cobros/Principal">
      <img src="/images/logo.png" alt="Logo" height="70">
    </a>
    <div class="d-flex ms-auto">
      <a class="btn btn-primary" href="/AdministracionFolios">Página Principal</a>
    </div>
  </div>
</nav>