<!-- INICIO DEL CÓDIGO ADAPTADO AL NUEVO CSS -->
<div class="container mt-5 d-flex justify-content-center">
  <!-- Envolvemos el formulario en una tarjeta con sombra -->
  <div class="card shadow-lg admin-card-width p-4">
    <form id="formulario" method="post" action="../EditarAseguradoras/{{seg.id_seguro}}">
      <!-- Título -->
      <h2 class="text-center mb-4" style="color: var(--primary-blue);">
        Editar Seguro
      </h2>

      <div class="form-group mb-3">
        <label for="Seguro">Seguro</label>
        <input class="form-control" value = {{seg.id_seguro}} type="text" name="Seguro" id="Seguro" placeholder="Ingrese el seguro" readonly
          autofocus required />
      </div>

      <div class="form-group mb-3">
        <label for="Plazo">Dias de plazo:</label>
        <input class="form-control" value = {{seg.dias_plazo}} type="number" name="Plazo" id="Plazo"
          placeholder="Ingrese los dias de plazo" required />
      </div>

      <div class="mt-4">
        <button type="submit" class="btn btn-crear w-100">
         Editar Aseguradora
        </button>
      </div>

      <div id="alerta" class="mt-3"></div> <!-- Alerta corregida -->
    </form>
  </div>
</div>


